@import '../../../../../scss/constants';

:host {
  display: flex;
  flex: 1 1 0;
  background-image: url("../../../../..//assets/img/BG_login.png") !important;
  background-size:100% 100%;
  .tb-request-password-reset-content {
    background-color: #eee;
    .tb-request-password-reset-card {
      @media #{$mat-gt-xs} {
        width: 450px !important;
      }
    }
  }
}
