<div>
  <mat-card class="profile-card" style="border-radius: 20px !important; padding: 0px !important;">

    <div style="background: #F5F5F5; padding: 12px 24px; height: 50px; border-radius: 20px 20px 0px 0px !important;">
      <span style="font-size: 18px; font-weight: 600; color: #43484D;">Thông tin cá nhân</span>
    </div>
    <div style="padding: 16px 24px 4px 24px !important;">
      <mat-card-title>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="8px">
          <div fxFlex fxLayout="column">
            <!--          <span class="mat-headline" translate>profile.profile</span>-->
            <span class="profile-email text-profile" style='opacity: 0.7;'>{{ profile ? profile.get('email').value : '' }}</span>
            <!--          <span class="mat-subheader" translate>profile.last-login-time</span>-->
            <span class="mat-subheader" style='opacity: 0.7;'>Lần cuối đăng nhập: {{ user?.additionalInfo?.lastLoginTs |
              date:'yyyy-MM-dd HH:mm:ss' }}</span>
          </div>
        </div>
      </mat-card-title>
      <mat-card-title>
      </mat-card-title>
      <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
      </mat-progress-bar>
      <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
      <mat-card-content style="padding-top: 16px;">
        <form [formGroup]="profile" (ngSubmit)="save()">
          <fieldset [disabled]="isLoading$ | async">
            <mat-form-field class="mat-block">
              <dft-label-icon matSuffix [name]="'User'"></dft-label-icon>
              <!--            <mat-label translate>user.first-name</mat-label>-->
              <mat-label>Họ tên</mat-label>
              <input matInput formControlName="firstName" />
  
              <mat-error
                *ngIf="profile.get('firstName').hasError('required') || profile.get('firstName').hasError('pattern')">
                Đây là trường bắt buộc
              </mat-error>
  
              <mat-error *ngIf="profile.get('firstName').hasError('maxlength')">
                Tên không quá 255 kí tự
              </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-block">
              <dft-label-icon matSuffix [name]="'EnvelopeOpen'"></dft-label-icon>
              <mat-label translate>user.email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="profile.get('email').hasError('required')">
                {{ 'user.email-required' | translate }}
              </mat-error>
              <mat-error *ngIf="profile.get('email').hasError('email')">
                {{ 'user.invalid-email-format' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-block b-margin-top">
              <dft-label-icon matSuffix [name]="'Phone'"></dft-label-icon>
              <!--            <mat-label translate>user.last-name</mat-label>-->
              <mat-label>Số điện thoại</mat-label>
              <input matInput formControlName="lastName" />
  
              <mat-error *ngIf="profile.get('lastName').hasError('maxlength')">
                Số điện thoại không quá 45 kí tự
              </mat-error>
  
              <mat-error *ngIf="profile.get('lastName').hasError('pattern')">
                Không đúng định dạng số điện thoại
              </mat-error>
  
            </mat-form-field>
            <mat-form-field class="mat-block b-margin-top">
              <!--            <mat-label translate>language.language</mat-label>-->
              <mat-label>Ngôn ngữ</mat-label>
              <mat-select matInput formControlName="language">
               
                <mat-option *ngFor="let lang of languageList" [value]="lang">
                  <dft-label-icon *ngIf="lang =='en_US'" matSuffix [name]="'US'"></dft-label-icon>
                  <dft-label-icon *ngIf="lang =='vi_VN'" matSuffix [name]="'VN'"></dft-label-icon>
                  {{ lang ? ('language.locales.' + lang | translate) : ''}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row" style="padding-bottom: 16px;">
              <button mat-button mat-raised-button color="primary" type="button" [disabled]="(isLoading$ | async)"
                (click)="changePassword()">
                <!--              {{'profile.change-password' | translate}}-->
                Đổi mật khẩu
              </button>
            </div>
            <div fxLayout="row" class="layout-wrap">
              <span fxFlex></span>
              <button mat-button class="btn-luu" type="submit"
                [disabled]="(isLoading$ | async) || profile.invalid || !profile.dirty">
                <!--              {{ 'action.save' | translate }}-->
                <dft-label-icon class="icon-center" [name]="'FloppyDisk'"></dft-label-icon>Lưu
              </button>
            </div>
          </fieldset>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>