.b-dialog-title {
  margin: 0px;
  padding: 0px;
  display: inline;
}

.close-button {
  float: right;
  margin: 0;
  padding: 0;
}

.b-dialog-content {
  width: auto;
  height: auto;
  overflow: unset !important;
}

.b-margin-top {
  margin-top: 20px;
}

.b-display-block {
  display: block;
}

.b-textarea {
  min-height: 100px;
}
