<section class="cb-tree-section">

  <!-- node cha -->
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  color="primary"
                  [disabled]="isDetailEntity"
                  [checked]="permission.completed"
                  [value]="permission.name"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{('dft.role.checkbox.' + permission.name) | translate}}
    </mat-checkbox>
  </span>


  <!-- node con -->
  <span class="example-list-section" *ngIf="permission.child !== null && permission.child !== undefined">
    <ul>
      <li *ngFor="let child of permission.child">
        <mat-checkbox color="primary"
                      [disabled]="isDetailEntity"
                      [(ngModel)]="child.completed"
                      [value]="child.name"
                      (ngModelChange)="updateAllComplete(child.name)"
        >
          {{('dft.role.checkbox.' + child.name) | translate}}
        </mat-checkbox>
      </li>
    </ul>
  </span>

</section>

