<form class="popup-c">
  <div class="popup-dialog-title">
    <h2 mat-dialog-title class="b-dialog-title">Xem chi tiết {{this.dialogData.alarmType}}</h2>
    <mat-icon style="cursor: pointer !important; float: right !important;" [mat-dialog-close]="true" class="close-icon">close</mat-icon>
  </div>
  <div class="fixed-modal-height">
    <mat-tab-group  class="m-g" style="min-width: 600px !important;" mat-align-tabs="start">
      <mat-tab label="{{keyToLabel(this.dialogData.key)}}">
        <tb-detail-alarm-tab
          [damtomId]="dialogData.damtomId"
          [key]="dialogData.key"
          [alarmType]="dialogData.alarmType"
        >
        </tb-detail-alarm-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end" class="binhdv-dialog-action">
    <button class="btn-huy" mat-button mat-dialog-close> <mat-icon >clear</mat-icon> Đóng</button>
  </mat-dialog-actions>
</form>
