.binhdv-dialog-container{
  width: 50vw;
  height:75vh;
  padding: 0;
  margin: 0;
}

// top header bar
.b-dialog-title{
  display: inline;
}

.close-button{
  float: right;
}

.b-margin-top{
  margin-top: 20px;
}

.b-display-block{
  display: block;
}

.b-textarea{
  width: 100% !important;
}


