<!-- form -->
<form class="popup-c" (ngSubmit)="onSubmitForm()" [formGroup]="entityForm" id="entityForm">
  <!-- dialog header -->
  <div class="popup-dialog-title">
    <h2 mat-dialog-title class="b-dialog-title"> {{ titleForm }} </h2>
    <mat-icon style="cursor: pointer !important; float: right !important;" [mat-dialog-close]="true" class="close-icon">
      close</mat-icon>
  </div>
  <!-- / dialog header -->
    <mat-dialog-content  class="create-form fixed-modal-height">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td style="padding: 0px 8px 0px 0px !important;">
            <!-- mã camera : -->
            <mat-form-field class="margin-t-16">
              <dft-label-icon matSuffix [name]="'Barcode'"></dft-label-icon>
              <mat-label translate>dft.qlcamera.dialog.camera-code</mat-label>
              <input matInput formControlName="code" required />
              <!-- handle input error -->
              <mat-error
                *ngIf="entityForm.get('code').hasError('required') || entityForm.get('code').hasError('pattern')">
                {{'dft.qlcamera.dialog.input-blank-err' | translate}}
              </mat-error>
              <mat-error *ngIf="entityForm.get('code').hasError('maxlength')">
                {{'dft.qlcamera.dialog.cameraCode-maxlength-err' | translate}}
              </mat-error>
            </mat-form-field>
            <!-- / mã camera : -->

          </td>
          <td style="padding: 0px 0px 0px 8px !important;">
            <!-- Tên cam : -->
            <mat-form-field class="margin-t-16">
              <dft-label-icon matSuffix [name]="'VideoCamera'"></dft-label-icon>
              <mat-label translate>dft.qlcamera.dialog.camera-name</mat-label>
              <input matInput formControlName="name" required />
              <!-- handle input error -->
              <mat-error
                *ngIf="entityForm.get('name').hasError('required') || entityForm.get('name').hasError('pattern')">
                {{'dft.qlcamera.dialog.input-blank-err' | translate}}
              </mat-error>
              <mat-error *ngIf="entityForm.get('name').hasError('maxlength')">
                {{'dft.qlcamera.dialog.input-maxlength-err' | translate}}
              </mat-error>
            </mat-form-field>
            <!-- / tên cam : -->

          </td>
        </tr>
      </table>
      <mat-form-field class="margin-t-16">
        <dft-label-icon matSuffix [name]="'Link'"></dft-label-icon>
        <mat-label translate>dft.qlcamera.dialog.camera-url</mat-label>
        <input matInput formControlName="url" required />
        <!-- handle input error -->
        <mat-error
          *ngIf="entityForm.get('url').hasError('required') || entityForm.get('url').hasError('pattern')">
          {{'dft.qlcamera.dialog.input-blank-err' | translate}}
        </mat-error>
        <mat-error *ngIf="entityForm.get('url').hasError('maxlength')">
          {{'dft.qlcamera.dialog.input-maxlength-err' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="margin-t-16 b-textarea">
        <dft-label-icon matSuffix [name]="'Note'"></dft-label-icon>
        <mat-label translate>dft.qlcamera.dialog.camera-note</mat-label>
        <textarea rows="1" matInput formControlName="note"></textarea>
        <!-- handle input error -->
        <mat-error *ngIf="entityForm.get('note').hasError('maxlength')">
          {{'dft.qlcamera.dialog.note-maxlength-err' | translate}}
        </mat-error>
      </mat-form-field>
      <!-- main -->
      <section style="padding: 16px 0px !important;">
        <mat-checkbox style="font-family: 'SF Pro Display' !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #43484D;" labelPosition="before" color="primary" formControlName="main">
          {{'dft.qlcamera.dialog.camera-main' | translate}}
        </mat-checkbox>
      </section>
      <!-- / main -->
    </mat-dialog-content>
  <mat-divider></mat-divider>
  <!-- dialog button bottom -->
  <mat-dialog-actions align="end">
    <!-- close button -->
    <button class="btn-huy" *ngIf="isDetailEntity" mat-button color="primary" type="button" cdkFocusInitial
      [disabled]="(isLoading$ | async)" [mat-dialog-close]="true">
      <mat-icon>clear</mat-icon>{{ 'dft.qlcamera.dialog.close-button' | translate }}
    </button>

    <!-- cancel button -->
    <button class="btn-huy" *ngIf="isAddEntity || isEditEntity" mat-button color="primary" type="button" cdkFocusInitial
      [disabled]="(isLoading$ | async)" [mat-dialog-close]="true">
      <mat-icon>clear</mat-icon>{{ 'dft.qlcamera.dialog.cancel-button' | translate }}
    </button>

    <!-- save button -->
    <button class="btn-luu" *ngIf="isAddEntity || isEditEntity" mat-raised-button color="primary" type="submit"
      form="entityForm" [disabled]="(isLoading$ | async) || entityForm?.invalid">
      <dft-label-icon class="icon-center" [name]="'FloppyDisk'"></dft-label-icon>{{ 'dft.qlcamera.dialog.save-button' |
      translate }}
    </button>
  </mat-dialog-actions>
</form>