@import "../../../../../scss/constants";

:host {
  width: 100%;
  height: 100%;
  .tb-entity-table {
    .tb-entity-table-content {
      width: 100%;
      height: 100%;
      background: #fff;

      .title-container {
        overflow: hidden;
      }

      .tb-entity-table-title {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .table-container {
        margin-top: 10px;
        overflow: auto;
      }

      //.tb-entity-table-info {
      //  white-space: nowrap;
      //  overflow: hidden;
      //  text-overflow: ellipsis;
      //}
    }
  }

  @media #{$mat-xs} {
    .mat-toolbar {
      height: auto;
      min-height: 100px;

      .tb-entity-table-title {
        padding-bottom: 5px;
        width: 100%;
      }
    }
  }
}



// binhdv
// center text header
//::ng-deep .mat-sort-header-container {
//  display:flex;
//  justify-content:center;
//}

.mat-column-actions{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 0% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  //text-align: center !important;
}

.mat-column-name{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 30% !important;
  //text-align: center !important;

}

.mat-column-note{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 40% !important;
  //text-align: center !important;

}

.mat-column-createdTime{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  //text-align: center !important;
}

//.mat-form-field-placeholder{
//  display: block !important;
//}


