<form class ="popup-c" [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="popup-dialog-title">
    <h2 mat-dialog-title class="b-dialog-title">Thêm mới Bộ thiết bị</h2>
    <mat-icon style="cursor: pointer !important; float: right !important;" [mat-dialog-close]="true" class="close-icon">close</mat-icon>
  </div>
  <mat-dialog-content class="create-form">
    <table style="padding: 24px 0px !important;" class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <img class="padding-icon" matSuffix height="32px" width="32px"
                 src="assets/Rpcdevice.png">
            <mat-label>Tên Bộ thiết bị</mat-label>
            <input matInput formControlName="name" required/>
            <mat-error *ngIf="createForm.get('name').hasError('required') || createForm.get('name').hasError('pattern')">Không được để trống</mat-error>
            <mat-error *ngIf="createForm.get('name').hasError('maxlength')">Độ dài tên đầm tôm không quá 255 ký tự</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="example-full-width">
      <dft-label-icon matSuffix [name]="'Note'"></dft-label-icon>
      <mat-label>Ghi chú</mat-label>
      <textarea matInput formControlName="note" rows="1"></textarea>
    </mat-form-field>
    <mat-slide-toggle style="margin-bottom: 16px !important;" formControlName="active" checked="true">Kích hoạt</mat-slide-toggle>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button class="btn-huy" mat-button mat-dialog-close type="reset" (click)="backToIndex()"><mat-icon >clear</mat-icon>Hủy</button>
    <button class="btn-luu" mat-button cdkFocusInitial type="submit"><dft-label-icon class="icon-center" [name]="'FloppyDisk'"></dft-label-icon>Lưu</button>
  </mat-dialog-actions>
</form>

