<form class="popup-c" (ngSubmit)="onSubmit()" [formGroup]="editForm">
  <div class="popup-dialog-title">
    <h2 mat-dialog-title class="b-dialog-title">Cập nhật: {{currentUser?.firstName}}</h2>
    <mat-icon style="cursor: pointer !important; float: right !important;" [mat-dialog-close]="true" class="close-icon">
      close</mat-icon>
  </div>
  <div class="fixed-modal-height">
    <mat-tab-group class="m-g" style="min-width: 600px !important;" mat-align-tabs="start"
      [selectedIndex]="activeTab">
      <mat-tab label="Thông tin chung">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <dft-label-icon matSuffix [name]="'User'"></dft-label-icon>
                <mat-label>Họ tên người dùng</mat-label>
                <input matInput formControlName="firstName" required />
                <mat-error *ngIf="editForm.get('firstName').hasError('required') ||
                    editForm.get('firstName').hasError('pattern')">
                  Không được để trống
                </mat-error>
                <mat-error *ngIf="editForm.get('firstName').hasError('maxlength')">Độ dài tên không quá 255 ký tự
                </mat-error>
              </mat-form-field>
            </td>
            <td style="padding: 0px 0px 0px 8px !important;">
              <mat-form-field class="example-full-width">
                <dft-label-icon matSuffix [name]="'EnvelopeOpen'"></dft-label-icon>
                <mat-label>Địa chỉ Email</mat-label>
                <input matInput type="email" formControlName="email" required />
                <!--                <mat-error *ngIf="editForm.get('email').hasError('required')">Không được để trống</mat-error>-->
                <!--                <mat-error *ngIf="editForm.get('email').hasError('maxlength')">Độ dài tên không quá 320 ký tự</mat-error>-->
                <!--                <mat-error *ngIf="editForm.get('email').hasError('pattern')">Không đúng định dạng email</mat-error>-->
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td style="padding: 0px !important;">
              <mat-form-field class="example-full-width">
                <dft-label-icon matSuffix [name]="'Phone'"></dft-label-icon>
                <mat-label>SĐT</mat-label>
                <input matInput type="text" formControlName="lastName" />
                <mat-error *ngIf="editForm.get('lastName').hasError('maxlength')">Độ dài số điện thoại không quá 45 số
                </mat-error>
                <mat-error *ngIf="editForm.get('lastName').hasError('pattern')">Không đúng định dạng số điện thoại
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-slide-toggle formControlName="enabled" checked="{{currentUser?.enabled}}">Kích hoạt</mat-slide-toggle>

        <mat-form-field class="example-full-width binhdv-margin-top">
          <dft-label-icon matSuffix [name]="'Note'"></dft-label-icon>
          <mat-label>Ghi chú</mat-label>
          <textarea matInput #additionalInfo formControlName="additionalInfo" rows="1"></textarea>
          <mat-hint align="end">{{additionalInfo.value.length}} / 4000</mat-hint>
          <mat-error *ngIf="editForm.get('additionalInfo').hasError('maxlength')">Độ dài ghi chú không quá 4000 ký tự
          </mat-error>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Phân quyền">
        <div *ngFor="let role of roleList">
          <section class="example-section">
            <mat-checkbox class="example-margin" formArrayName="roleId" [checked]="compareRoleId(role)"
              [value]="role.id" (change)="onCheckboxChange($event)">{{role.name}}</mat-checkbox>
          </section>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button class="btn-huy" mat-button mat-dialog-close type="reset" (click)="backToIndex()">
      <mat-icon>clear</mat-icon>Hủy
    </button>
    <button class="btn-luu" mat-button color="primary" cdkFocusInitial type="submit" [disabled]="editForm?.invalid">
      <dft-label-icon class="icon-center" [name]="'FloppyDisk'"></dft-label-icon>Lưu
    </button>
  </mat-dialog-actions>
</form>