<mat-drawer-container hasBackdrop="false" class="tb-absolute-fill">
  <mat-drawer-content>
    <div class="mat-padding tb-entity-table tb-absolute-fill">
      <div fxLayout="column" class="mat-elevation-z1 tb-entity-table-content">
        <mat-toolbar class="mat-table-toolbar header-background">
          <div class="mat-toolbar-tools">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start"
              class="title-container">
              <span class="tb-entity-table-title">{{ 'dft.damtom.manage' | translate }}</span>
              <tb-anchor #entityTableHeader></tb-anchor>
            </div>
            <span fxFlex></span>
            <div>
              <button mat-icon-button [disabled]="isLoading$ | async"
                *ngIf="checkAuth(authority.PAGES_DAMTOM_CREATE) || checkAuth(authority.TENANT_ADMIN)"
                matTooltip="{{ 'dft.damtom.add' | translate }}" matTooltipPosition="above" color="primary"
                (click)="openCreateDialog()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-toolbar>
        <label class="t-k">Tìm kiếm</label>
        <mat-toolbar class="mat-table-toolbar">
          <div class="mat-toolbar-tools">
              <div class="col-md-6 text-position" style="padding: 0px !important;">
              <mat-form-field fxFlex class="mat-block">
                 <dft-label-icon [name]="'MagnifyingGlass'"></dft-label-icon>
                <mat-label>&nbsp;</mat-label>
                <input matInput #searchInput (keyup)="onSearch()" placeholder="Nhập tên nhà vườn, vị trí" />
              </mat-form-field>
            </div>
            </div>
          </mat-toolbar>
        <div fxFlex class="table-container">
          <table mat-table [dataSource]="dataSource" matSort #sort="matSort" matSortActive="createdTime"
            matSortDirection="desc" matSortDisableClear>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="element.id.id">
                    <span>{{ 'dft.users.details-button' | translate }}</span>
                  </button>
                  <button *ngIf="checkAuth(authority.PAGES_DAMTOM_CREATE) || checkAuth(authority.TENANT_ADMIN)"
                    mat-menu-item (click)="edit(element.id)">
                    <span>{{ 'dft.users.update-button' | translate }}</span>
                  </button>
                  <button *ngIf="checkAuth(authority.PAGES_DAMTOM_DELETE) || checkAuth(authority.TENANT_ADMIN)"
                    mat-menu-item (click)="delete(element)">
                    <span>{{ 'dft.users.delete-button' | translate }}</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="data-col-width" mat-sort-header>{{ 'dft.damtom.name' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef class="data-col-width"  mat-sort-header>{{ 'dft.damtom.address' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef class="data-col-width" mat-sort-header> {{ 'dft.damtom.note' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.note}} </td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dft.damtom.active' | translate }}</th>
              <!--              <td mat-cell *matCellDef="let element"> {{element.active}} </td>-->
              <td  mat-cell *matCellDef="let element">
                <mat-icon class="material-icons mat-icon">
                  {{element.active ? 'check_box' : 'check_box_outline_blank'}}
                </mat-icon>
              </td>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
          <span class="no-data-found" fxLayoutAlign="center center"
            [fxShow]="(dataSource.data === null || dataSource.data.length === 0) && !(isLoading$ | async)">Không tìm
            thấy nhà vườn</span>
          <span [fxShow]="(isLoading$ | async)" fxLayoutAlign="center center" class="no-data-found">{{ 'common.loading'
            | translate }}</span>
        </div>
        <mat-divider></mat-divider>
        <mat-paginator class="footer-format1 footer-format2 footer-format3" [length]="tolalElements" [pageSizeOptions]="pageSizeOptions" [disabled]="!isLoading$"
          [pageSize]="defaultPageSize" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
