.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.close-button{
  float: right;
  margin: 0;
  padding: 0;
}
.b-dialog-title{
  margin: 0px;
  padding: 0px;
  display: inline;
}
.b-dialog-header{
  margin: 0;
  padding: 0;
}
