


td {
  padding-right: 8px;
}


.close-button{
  float: right;
  margin: 0 !important;
  padding: 0 !important;
}
.b-dialog-title{
  display: inline;
}
.b-dialog-header{
  margin: 0;
  padding: 0;
}

