@import "src/scss/constants.scss";

:host {
  width: 100%;
  height: 100%;

  .tb-entity-table {
    .tb-entity-table-content {
      width: 100%;
      height: 100%;
      background: #fff;

      .mat-toolbar-tools {
        min-height: auto;
      }

      .title-container {
        overflow: hidden;
      }

      .tb-entity-table-title {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .table-container {
        overflow: auto;
      }

      .tb-entity-table-info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media #{$mat-xs} {
    .mat-toolbar {
      height: auto;
      min-height: 100px;

      .tb-entity-table-title {
        padding-bottom: 5px;
        width: 100%;
      }
    }
  }
}

:host ::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1 !important;
}

:host ::ng-deep .custom-mat-toolbar {
  font: 500 17px Roboto, "Helvetica Neue", sans-serif !important;
}

:host ::ng-deep .alarm-table {
  th,
  td {
    vertical-align: top;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    word-wrap: break-word !important;
    white-space: break-spaces !important;
    padding-left: 16px !important;
    padding-top: 14px !important;
  }
}

.data-col-width {
  min-width: 70px;
  max-width: 70px;
}

.icon-rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

.w-100 {
  min-width: 100px;
  max-width: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

.b-fontsize {
  font-size: 15px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.alarm-color {
  color: red;
}

.clear-color {
  color: rgb(2, 124, 8);
}
