@import "../../../../../../scss/constants";

:host {
  width: 100%;
  height: 100%;

  .tb-entity-table {
    .tb-entity-table-content {
      width: 100%;
      height: 100%;
      background: #fff;

      .mat-toolbar-tools {
        min-height: auto;
      }

      .title-container {
        overflow: hidden;
      }

      .tb-entity-table-title {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .table-container {
        margin-top: 10px;
        overflow: auto;
      }

      //.tb-entity-table-info {
      //  white-space: nowrap;
      //  overflow: hidden;
      //  text-overflow: ellipsis;
      //}
    }
  }

  @media #{$mat-xs} {
    .mat-toolbar {
      height: auto;
      min-height: 100px;

      .tb-entity-table-title {
        padding-bottom: 5px;
        width: 100%;
      }
    }
  }
}


// binh dv
.b-container {
  overflow: auto;
}

.b-select {
  width: 80%;
}

.b-chart-section {
  width: 100%;
  height: 100vh;
  min-height: 60vh;
}


.b-chart-container {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px 5px;
  transition: 0.3s;
}

.b-chart-container:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 5px 5px 5px 5px;
}

