<mat-drawer-container hasBackdrop="false" class="tb-absolute-fill">
  <mat-drawer-content>
    <div class="mat-padding tb-entity-table tb-absolute-fill">
      <div fxLayout="column" class="mat-elevation-z1 tb-entity-table-content">
      <mat-toolbar fxFlex="none" class="mat-table-toolbar header-background">
        <div class="mat-toolbar-tools">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start"
            class="title-container">
            <span class="tb-entity-table-title">{{ 'dft.bao-cao.bc-ketnoi-cb' | translate }}</span>
            <tb-anchor #entityTableHeader></tb-anchor>
          </div>
          <span fxFlex></span>
        </div>
      </mat-toolbar>
      <div fxLayout="column" style="border-radius: 0px 0px 20px 20px !important; padding-bottom: 30px !important;"
      class="mat-elevation-z1 tb-entity-table-content b-container">
      <form (ngSubmit)="onSubmitForm()" [formGroup]="formDateRange">
        <div class="row" style="margin-top: 16px !important;">
          <div class="col-md-3" style="padding: 0px 8px 0px 24px !important;">
            <span class="text-tim-kiem">{{ 'dft.bc-ketnoi.select-damtom' | translate }}</span>
            <mat-form-field class="b-select" style="width: 100% !important; " class="margin-cmb-tk">
              <mat-select [(value)]="selectedValue">
                <mat-option [value]="0" (click)="changeSelectedDamtomName('')">
                  {{ 'dft.bc-ketnoi.all-damtom' | translate }}
                </mat-option>
                <mat-option *ngFor="let damtom of damtomList" [value]="damtom.id"
                  (click)="changeSelectedDamtomName(damtom.name)">
                  {{damtom.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4" style="padding: 0px 8px !important;">
            <span class="text-tim-kiem" translate="dft.dlcb.startTime" style="padding-top: 20px"></span>
            <mat-form-field class="mat-block datetime-input">
              <mat-datepicker-toggle class="size-icon" [for]="startDatetimePicker" matSuffix>
                <mat-icon matDatepickerToggleIcon>history</mat-icon>
              </mat-datepicker-toggle>
              <mat-datetimepicker #startDatetimePicker type="date" openOnFocus="false">
              </mat-datetimepicker>
              <input matInput [matDatetimepicker]="startDatetimePicker" autocomplete="false" [max]="maxDate"
                [min]="minDate" formControlName="startRangeTime">
            </mat-form-field>
          </div>
          <div class="col-md-4" style="padding: 0px 8px !important;">
            <span class="text-tim-kiem" translate="dft.dlcb.endTime" style="padding-top: 20px"></span>
            <mat-form-field class="mat-block datetime-input">
              <mat-datepicker-toggle class="size-icon" [for]="endDatetimePicker" matSuffix>
                <mat-icon matDatepickerToggleIcon>update</mat-icon>
              </mat-datepicker-toggle>
              <mat-datetimepicker #endDatetimePicker type="date" openOnFocus="false">
              </mat-datetimepicker>
              <input matInput [matDatetimepicker]="endDatetimePicker" autocomplete="false" [max]="maxDate"
                [min]="minDate" formControlName="endRangeTime">
              <mat-error *ngIf="formDateRange.get('endRangeTime').hasError('timeRangeInvalid')">
                {{ 'dft.dlcb.validate.timeRangeInvalid' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-1" style="text-align: center !important; padding-top: 30px !important;">
            <button mat-icon-button color="primary" type="submit"
              [disabled]="(isLoading$ | async) || formDateRange?.invalid">
              <dft-label-icon [name]="'MagnifyingGlass'"></dft-label-icon>
              <!-- <mat-icon *ngIf="(isLoading$ | async)" class="icon-rotate">loop</mat-icon> -->
            </button>
          </div>
        </div>
      </form>
        <div style="padding: 0px 24px !important;" fxFlex fxLayout="row" fxLayoutAlign="space-around none" class="b-chart-section">
          <div fxFlex="100%" class="b-chart-container">
            <tb-legend-bar-chart class="title-bao-cao-cot" [chartTitle]="chartDatas[0].chartTitle" [data]="chartDatas[0].datas">
            </tb-legend-bar-chart>
          </div>
        </div>
        <tb-bc-ketnoi-table style="padding:16px 0px 0px 0px !important;" [dataSource]="dataSource" [isLoading$]="isLoading$">
        </tb-bc-ketnoi-table>
    </div>
  </div>
  </div>
  </mat-drawer-content>
</mat-drawer-container>
