.b-chart-container{
    //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
  transition: 0.3s;
}

.b-chart-container:hover {
  //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 15px;
}

