.b-dialog{
  min-width: 750px;
  max-width: 750px;
  min-height: 75vh;
}

.b-dialog-title{
  margin: 0;
  padding: 0;
  display: inline;
}

.close-button{
  float: right;
  margin: 0;
  padding: 0;
}

.b-margin-top{
  margin-top: 25px;
}

.b-margin{
  margin: 15px 0;
}

.b-link{
  text-decoration: underline;
  color: #36c401;
}

.b-link:hover{
  cursor: pointer;
}

.b-w-50{
  width: 50%;
}

.b-w-60{
  width: 60%;
}

.b-w-90{
  width: 90%;
}
