::ng-deep tb-b-group-bar-chart {
  .chart-legend .legend-wrap {
    display: flex;
    justify-content: center;
    .legend-labels {
      white-space: pre-wrap;
      width: auto !important;
      background-color: transparent;
    }
  }
}
