<mat-drawer-container hasBackdrop="false" class="tb-absolute-fill">
  <mat-drawer-content>
    <div class="mat-padding tb-entity-table tb-absolute-fill">
      <div fxLayout="column" class="mat-elevation-z1 tb-entity-table-content">
        <mat-toolbar class="mat-table-toolbar header-background">
          <div class="mat-toolbar-tools">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start"
              class="title-container">
              <span class="tb-entity-table-title">{{ 'dft.admin.khachhang.manage' | translate }}</span>
              <tb-anchor #entityTableHeader></tb-anchor>
            </div>
            <span fxFlex></span>
            <div>
              <button mat-icon-button color="primary" [disabled]="isLoading$ | async" matTooltip="{{ 'dft.admin.khachhang.add-button' | translate }}" matTooltipPosition="above"
                (click)="openEditDialog(null,  null, tableAction.ADD_ENTITY)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <!-- <button mat-icon-button [disabled]="isLoading$ | async" matTooltip="{{ 'dft.admin.khachhang.refresh-button' | translate }}" matTooltipPosition="above"
              (click)="refresh()">
              <mat-icon>refresh</mat-icon>
            </button> -->
          </div>
        </mat-toolbar>
        <label class="t-k">Tìm kiếm</label>
        <mat-toolbar class="mat-table-toolbar">
          <div class="mat-toolbar-tools">
            <div class="col-md-6 text-position" style="padding: 0px !important;">
            <mat-form-field fxFlex class="mat-block">
               <dft-label-icon [name]="'MagnifyingGlass'"></dft-label-icon>
               <mat-label>&nbsp;</mat-label>
              <input placeholder="{{'dft.admin.khachhang.search' | translate}}" #searchInput matInput (keyup)="onSearch()"/>
            </mat-form-field>
          </div>
        </div>
        </mat-toolbar>
        <div fxFlex class="table-container">
          <table mat-table [dataSource]="dataSource" matSort #sort="matSort" matSortActive="created_time"
            matSortDirection="desc" matSortDisableClear>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openEditDialog(element.id, element.tenKhachHang, tableAction.DETAIL_ENTITY)">
                    <span>{{ 'dft.admin.khachhang.details-button' | translate }}</span>
                  </button>
                  <button mat-menu-item (click)="openEditDialog(element.id, element.tenKhachHang, tableAction.EDIT_ENTITY)">
                    <span>{{ 'dft.admin.khachhang.update-button' | translate }}</span>
                  </button>
                  <button mat-menu-item (click)="deleteEntity(element)">
                    <span>{{ 'dft.admin.khachhang.delete-button' | translate }}</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="ma_khach_hang">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dft.admin.khachhang.maKhachHang' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.maKhachHang}} </td>
            </ng-container>

            <ng-container matColumnDef="ten_khach_hang">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dft.admin.khachhang.tenKhachHang' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.tenKhachHang}} </td>
            </ng-container>

            <ng-container matColumnDef="t.phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'dft.admin.khachhang.soDienThoai' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.soDienThoai}} </td>
            </ng-container>

            <ng-container matColumnDef="t.email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dft.admin.khachhang.email' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="ngay_bat_dau">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dft.admin.khachhang.ngayBatDau' | translate }}</th>
              <td mat-cell *matCellDef="let element"><span *ngIf="element.ngayBatDau > 0"> {{element.ngayBatDau | date : 'dd/MM/yyyy'}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dft.admin.khachhang.active' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon class="material-icons mat-icon">
                  {{element.active ? 'check_box' : 'check_box_outline_blank'}}
                </mat-icon>
              </td>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
          <span [fxShow]="(dataSource.data === null || dataSource.data.length === 0) && !(isLoading$ | async)"
                fxLayoutAlign="center center"
                class="no-data-found">{{ 'dft.admin.khachhang.noEntities' | translate }}</span>
          <span [fxShow]="(isLoading$ | async)"
                fxLayoutAlign="center center"
                class="no-data-found">{{ 'common.loading' | translate }}</span>
        </div>
        <mat-divider></mat-divider>
        <mat-paginator class="footer-format1 footer-format2 footer-format3" [length]="tolalElements"
                       [pageSizeOptions]="pageSizeOptions" [disabled]="(isLoading$ | async)"
                       [pageSize]="defaultPageSize" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
